/* =====================================
   Navigation
===================================== */

.navbar{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    background:#171717;

    border-bottom:1px solid rgba(255,255,255,.08);

    z-index:1000;

}

.container{

    width:100%;

    padding:14px 48px;

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.logo{

    display:flex;
    align-items:center;
    gap:10px;

    white-space:nowrap;

    text-decoration:none;

    transition:.25s;

}

.logo:hover{

    opacity:.85;

}

.program{

    color:#ececec;

    font-size:1.15rem;

    font-weight:500;

    letter-spacing:.2px;

}

.digital{

    color:#ffffff;

    font-size:1.15rem;

    font-weight:700;

}

nav ul{

    display:flex;

    list-style:none;

    gap:48px;

}

nav a{

    color:#e6e6e6;

    text-decoration:none;

    font-size:1rem;

    font-weight:500;

    transition:.25s;

}

nav a:hover{

    color:#ffffff;

}